node_modules
dist
dist-ssr
dev-dist
*.local
*.env
package-lock.json

.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

logs
*.log

*eslint*auto-import.json
**/types/auto-imports.d.ts
**/types/components.d.ts
**/types/typed-router.d.ts
**/types/route-map.d.ts
